<ion-header>
  <ion-toolbar>
    <ion-title> チャット </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top">
    <ion-item lines="none" *ngFor="let c of chat | async; trackBy: trackByFn">
      <ion-avatar slot="start">
        <ion-img [src]="c.photoDataUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2 class="ion-margin-start">
          <small
            ><strong>{{c.displayName}}</strong>　{{c.timestamp| date:
            'MM月dd日HH時mm分 (EEE)': '+09:00'}}</small
          >
        </h2>
        <ion-label
          class="ion-padding ion-text-nowrap"
          style="
            background-color: var(--ion-color-light-tint);
            border-radius: 12px;
          "
        >
          {{c.message}}</ion-label
        >
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar style="padding: 4px 8px">
      <ion-avatar slot="start" style="width: 36px; height: 36px">
        <ion-img [src]="user?.photoDataUrl || '/assets/shapes.svg'"></ion-img>
      </ion-avatar>
      <form #f="ngForm">
        <ion-textarea
          class="ion-margin-start"
          autoGrow="true"
          rows="1"
          placeholder="メッセージ"
          [(ngModel)]="message"
          name="message"
          required
        >
        </ion-textarea>
      </form>
      <ion-buttons slot="end">
        <ion-button
          color="success"
          size="small"
          (click)="postMessage()"
          [disabled]="!f.form.valid"
          ><ion-icon name="send"></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
